# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/main/resources/data/explorercraft/structures/player_house.nbt
/src/main/resources/data/explorercraft/structures/small_castle.nbt
